@model FootballStore.DataAccess.ViewModels.ProductVM
<form method="post" asp-action="CreateUpdate" enctype="multipart/form-data">
    <input type="hidden" asp-for="product.Id"/>
    <input type="hidden" asp-for="product.ImageUrl"/>
    <img src="@Model.product.ImageUrl" width="100" height="100"/>
    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">@((Model.product == null || Model.product.Id == 0) ? "Создать" : "Изменить") Товар</h2>
            <hr/>
        </div>
        <div asp-validation-summary=All></div>

        <div class="row mb-3">
            <label asp-for="product.Name"></label>
            <input asp-for="product.Name" class="form-control"/>
            <span asp-validation-for="product.Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="product.Description"></label>
            <textarea asp-for="product.Description" class="form-control"></textarea>
            <span asp-validation-for="product.Description" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="product.Price"></label>
            <input asp-for="product.Price" class="form-control" />
            <span asp-validation-for="product.Price" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="product.ImageUrl"></label>
            <input type="file" id="imageFile" name="file" class="form-select" />
        </div>
        <div class="row mb-3">
            <label asp-for="product.CategoryId"></label>
            <select asp-for="product.CategoryId" asp-items="@Model.Categories" class="form-control">
                <option selected disabled>выберите категорию</option>
            </select>
            <span asp-validation-for="product.CategoryId" class="text-danger"></span>
        </div>

        @if (Model.product == null || Model.product.Id == 0)
        {
            <button class="btn btn-primary" onclick="return ValidateEmpty()" type="submit">Создать</button>
        }
        else
        {
            <button class="btn btn-primary" type="submit">Изменить</button>
        }
    </div>
    <a asp-action="Index" asp-controller="Product">Назад</a>
</form>
@section scripts {
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            toolbar_mode: 'floating',

        });

        function ValidateEmpty() 
        {
            if (document.getElementById("imageFile").value == "") 
            {
                Swal.fire
                    ({
                        icon: 'erorr',
                        title: 'Ошибка'
                        Text: 'Добавьте фото'
                    });
                return false;
                
            }
            return true;
        }
    </script>
}